<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <!-- Add Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Submit Form</h1>
        <form method="POST" action="{% url 'submit_form' %}">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="member_org">Member Organization (If None Leave Blank)</label>
                    <input type="text" class="form-control" id="member_org" name="member_org">
                </div>
                <div class="form-group col-md-6">
                    <label for="selected_year">Year</label>
                    <select id="selected_year" name="selected_year" class="form-control">
                        {% for year in years %}
                            <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="legislation_type">Type</label>
                    <select id="legislation_type" name="legislation_type" class="form-control">
                        <option value="Florida Bills">Florida Bills</option>
                        <option value="Federal Bills">Federal Bills</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <button type="button" class="btn btn-success mt-4" id="bills-website">Bills Website</button>
                </div>
            </div>
            <div id="federal_details" style="display:none;">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="session">Congress Session Number</label>
                        <select id="session" name="session" class="form-control">
                            {% for session in sessions %}
                                <option value="{{ session }}">{{ session }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="federal_bill_type">Bill Prefix</label>
                        <select id="federal_bill_type" name="federal_bill_type" class="form-control">
                            <option value="HR">HR</option>
                            <option value="S">S</option>
                            <option value="H.Res">H.Res</option>
                            <option value="S.Res">S.Res</option>
                            <option value="H.J.Res">H.J.Res</option>
                            <option value="S.J.Res">S.J.Res</option>
                            <option value="H.Con.Res">H.Con.Res</option>
                            <option value="S.Con.Res">S.Con.Res</option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="florida_details" class="form-row">
                <div class="form-group col-md-6">
                    <label for="bill_type">Bill Prefix</label>
                    <select id="bill_type" name="bill_type" class="form-control">
                        <option value="HB">HB</option>
                        <option value="SB">SB</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="bill_number">Bill Number</label>
                    <input type="text" class="form-control" id="bill_number" name="bill_number">
                </div>
            </div>
            <div class="form-group">
                <label for="support">Organization’s Position</label>
                <select id="support" name="support" class="form-control">
                    <option value="N/A">N/A</option>
                    <option value="Support">Support</option>
                    <option value="Oppose">Oppose</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">SUBMIT</button>
        </form>
    </div>
    <script>
        document.getElementById('legislation_type').addEventListener('change', function () {
            var federalDetails = document.getElementById('federal_details');
            var floridaDetails = document.getElementById('florida_details');
            if (this.value == 'Federal Bills') {
                federalDetails.style.display = 'block';
                floridaDetails.style.display = 'none';
            } else {
                federalDetails.style.display = 'none';
                floridaDetails.style.display = 'block';
            }
        });
        document.getElementById('bills-website').addEventListener('click', function () {
            var legislationType = document.getElementById('legislation_type').value;
            if (legislationType === 'Federal Bills') {
                window.open('https://www.congress.gov/search?q=%7B%22source%22%3A%22legislation%22%7D', '_blank');
            } else {
                window.open('https://www.flsenate.gov/Session/Bills/2024', '_blank');
            }
        });
    </script>
</body>
</html>
