/* Base styles for inputs, selects, and text areas */
.stTextInput input, .stSelectbox select, .stDateInput input, .stTextArea textarea, .stSelectbox > div > select {
    color: #333 !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    border-radius: 0 !important; /* Make input boxes square */
    box-shadow: none !important; /* Remove shadows */
    width: 100% !important;
    height: 38px !important;
    margin-bottom: 10px !important;
    padding: 8px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857 !important;
    display: block !important;
    box-sizing: border-box !important;
}

/* Specific styles for input labels */
.stTextInput > label, .stSelectbox > label, .stDateInput > label, .stRadio > label, .stLabel > label {
    color: #333333 !important; /* Font color */
    font-size: 14px !important; /* Font size */
    font-family: Arial, sans-serif !important; /* Font family */
    margin: 0px 0px 5px 0px !important; /* Margin around the label */
    font-weight: bold !important; /* Bold font weight */
    display: block !important; /* Ensure the label is displayed as a block */
}

/* Style for the dropdown arrow in the select element */
.stSelectbox > div > div[class^="select"]::after {
    border-color: #333 transparent transparent !important; /* Adjust the color as needed */
}

/* Style for the select element when it is focused */
.stSelectbox select:focus {
    outline: none !important;
}

/* Modify the submit button styling */
button, .stButton > button {
    background-color: #308133 !important; /* The green background */
    border: none !important;
    color: white !important;
    padding: 15px 20px !important;
    margin-top: 20px !important;
    font-size: 14px !important;
    line-height: 1.42857 !important;
    display: block !important;
    width: 100% !important;
    box-sizing: border-box !important;
    border-radius: 0 !important; /* Make the button square */
}

/* Global font style */
* {
    font-family: Arial, sans-serif !important; /* Use Arial font for consistency */
}

/* Custom styles for support and oppose dropdown */
.support-select select {
    background-color: #d4edda !important; /* Light green background */
    color: #155724 !important; /* Dark green text */
}

.oppose-select select {
    background-color: #f8d7da !important; /* Light red background */
    color: #721c24 !important; /* Dark red text */
}
